:root {
  --primary-color: #625E5E;
  --secondary-color: #333;
  --tertiary-color: #909090;
  --text-color: #e9e8e8;
}

body {
  margin: 0;
  background-color: var(--text-color);
  font-family: sans-serif
}

nav {
  /* background-color: green; */
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
  border-bottom: 1px solid var(--tertiary-color);
  /* color: #625e5e; */
}

ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

.container {
  padding: 24px;
  box-sizing: border-box;
}

.container--about {
  display: flex;
  gap: 24px;
}

.about {
  color: var(--primary-color);
}

.about-img-container {
  width: 50%;
  display: flex;
  /* align-items: end; */
  justify-content: end;
}

.about-details-container {
  width: 50%;
}

.about--paragraph {
  width: 480px;
}

.container--skills {
  display: flex;
  gap: 32px;
  border-bottom: 1px solid var(--tertiary-color);
}

.skills-details-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.skills-img-container {
  width: 50%;
}

.skills-img {
  object-fit: cover;
  width: 480px;
  height: 420px;
}

.skills-paragraph {
  width: 480px;
  text-align: right;
}

.skills-section, .portfolio-section {
  background-color: #161616;
  color: var(--text-color);
  margin-bottom: 48px;
}
/* Inter (woff2)
sans-serif */
.fa-arrow-left, .fa-arrow-right {
  border: 2px solid var(--text-color);
  border-radius: 16px;
  padding: 8px 32px;
}

.heading-description, .portfolio-arrows-container {
  display: flex;
  justify-content: space-between;
}

.portfolio-description-paragraph {
  width: 476px;
}

.portfolio-arrows-container {
  margin: 24px 0;
}

.projects-container {
  display: flex;
  gap: 24px;
  margin-bottom: 64px;
}

article {
  width: 420px;
  min-width: 420px;
}

.project-img-container {
  width: 100%;
}

.project-img {
  width: 100%;
}

.container--contact, footer {
  color: var(--primary-color);
}

.contact-description {
  display: flex;
  border-top: 1px solid var(--primary-color);
  justify-content: space-between;
}

.footer-paragraph-container {
  border-top: 1px solid var(--primary-color);

}

.contact-paragraph {
  width: 476px;
  font-size: 22px;
}

address {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 64px;
  font-size: 40px;
}
