/* Gobal styling */

* {
  box-sizing: border-box;
}

:root {
  --primary-color: #625E5E;
  --secondary-color: #333;
  --tertiary-color: #909090;
  --text-color: #e9e8e8;
}

body {
  margin: 0;
  background-color: var(--text-color);
  font-family: sans-serif;
  color: var(--primary-color);
}

h1 {
  font-size: 280px;
  color: black;
  font-family: 'Instrument Serif', serif;
  font-weight: 400;
  width: 100%;
  margin-bottom: 80px;
  margin-top: 0;
  text-align: center;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
  font-weight: 700;
  margin-top: 24px;
  margin-bottom: 12px;
}

p {
  font-size: 22px;
}

/* Navigation */

nav {
  display: flex;
  justify-content: space-between;
  color: var(--primary-color);
  border-bottom: 1px solid var(--tertiary-color);
  box-sizing: border-box;
  width: 100%
}

.nav-btns-list {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 40px;
  list-style: none;
}

.nav-btns-list span {
  align-self: center;
}

a {
  text-decoration: none;
}

a:visited {
  color: var(--primary-color);
}

.nav-btn {
  cursor: pointer;
  scale: 1;
  transition: scale 0.3s;
  display: flex;
  align-items: center;
}

.hero-nav-btn span {
  display: none;
}

.about-nav-btn {
  margin-left: auto;
}

.about-nav-btn svg {
  display: none;
}

.skills-nav-btn svg {
  display: none;
}

.portfolio-nav-btn svg {
  display: none;
}

.contact-nav-btn svg {
  display: none;
}

.nav-btn:hover {
  transition: scale 0.3s;
  scale: 1.2;
}

section {
  padding: 32px 80px;
  box-sizing: border-box;
}

.container-show {
  opacity: 0.1%;
  margin-top: 100px;
}

/* Hero section */

.hero--paragraph {
  width: 480px;
}

.hero--details--container {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--tertiary-color);
  padding-bottom: 24px;
}

.hero--heading--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero--buttons--container {
  display: flex;
  align-items: end;
  gap: 32px;
}

.hero--buttons--container button, .contact-me-btn {
  padding: 12px 32px;
  border-radius: 24px;
  border: 1px solid var(--secondary-color);
  font-size: 16px;
  cursor: pointer;
  min-width: max-content;
}

.contact-me-btn {
  background-color: var(--primary-color);
  color: var(--text-color);
}

.contact-me-btn:visited {
  color: var(--text-color);
}

.view-work-btn {
  background-color: #FFFFFF;
  color: var(--primary-color);
}

/* ABOUT section */

.show {
  opacity: 100%;
  margin-top: 0;
  transition: all 1s ease;
}

.container--about {
  display: flex;
  gap: 48px;
}

.about-img-container {
  width: 50%;
  display: flex;
  justify-content: end;
}

.about-img {
  filter: grayscale(100%);
  width: 100%;
  max-width: 480px;
  object-fit: contain;
}

.about-details-container {
  width: 50%;
}

.about--paragraph {
  max-width: 480px;
}

/* Skills section */

.container--skills {
  display: flex;
  gap: 48px;
  border-bottom: 1px solid var(--tertiary-color);
  padding: 64px 0;
}

.skills-details-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.skills-img-container {
  width: 50%;
}

.skills-img {
  object-fit: contain;
  width: 100%;
  max-width: 480px;
}

.skills-paragraph {
  max-width: 480px;
  text-align: right;
}

.skills-section, .portfolio-section {
  background-color: #161616;
  color: var(--text-color);
}

.portfolio-heading-description, .portfolio-arrows-container {
  display: flex;
  justify-content: space-between;
}

.portfolio-heading-description {
  margin-bottom: 56px;
}

.portfolio-description-paragraph {
  width: 476px;
}

.splide__list {
  width: 100%;
  min-width: 1800px;
  display: flex;
  justify-content: space-between;
  gap: 0px;
  transform: translateX(0px);
}

.splide__slide {
  width: 24%;
}

.splide__arrows {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

.splide__arrow {
  position: static;
  cursor: pointer;
  border: 2px solid var(--text-color);
  border-radius: 16px;
  background-color: #161616;
  color: #e9e8e8;
  width: 80px;
  height: 32px;
  opacity: 1;
  transform: translateY(0px);
}

.splide__arrow svg {
  fill: var(--text-color);
}

article {
  width: 440px;
  cursor: pointer;
}

article p {
  font-size: 16px;
  margin: 0;
}

.project-img-container {
  width: 100%;
}

.project-img {
  width: 100%;
}

/* Contact Section */

.container--contact {
  border-top: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  box-sizing: border-box;
  padding-bottom: 32px;
}

.container--contact, footer {
  color: var(--primary-color);
}

.contact-description {
  display: flex;
  justify-content: space-between;
}

.footer-paragraph-container {
  display: flex;
  justify-content: center;
}

.contact-paragraph {
  width: 476px;
}

address {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  gap: 60px;
}

address a {
  height: 64px;
  width: 64px;
}

address svg {
  fill: var(--primary-color);
  scale: 1;
  transition: 0.3s;
  cursor: pointer;
}

address svg:hover {
  scale: 1.2;
  transition: 0.3s;
}

@media (max-width: 768px) {
  h1 {
    margin-bottom: 40px;
    font-size: 140px;
  }

  h2 {
    width: max-content;
    font-size: 24px;
    margin-top: 0;
  }

  h3 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }

  .section {
    padding: 24px 12px;
  }

  .container {
    width: 100%;
  }

  header {
    position: fixed;
    bottom: -1px;
    left: 0;
    width: 100%;
    z-index: 50;
  }

  .header-section {
    width: 100%;
    padding: 0;
  }

  nav {
    width: 100%;
    background-color: var(--text-color);
    border-top: 1px solid var(--primary-color);
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    padding: 8px 4px 8px 4px;
    font-size: 12px;
    justify-content: space-around;
    box-shadow: 0 -6px 6px -1px rgba(0, 0, 0, 0.2), 0 -2px 4px -1px rgba(0, 0, 0, 0.06);
  }

  .nav-btns-list {
    list-style: none;
    padding: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .nav-btns-list {
    gap: 0;
    padding: 0;
    margin: 0;
  }

  .nav-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }

  .nav-btn:hover {
    transition: none;
    scale: 1;
  }

  .nav-btn:active {
    scale: 1.1;
  }

  .nav-btn span {
    height: 20%;
  }

  .nav-btn svg {
    height: 36px;
    fill: var(--primary-color);
    width: 36px;
  }

  .hero-nav-btn span {
    display: block;
  }

  .hero-nav-btn svg {
    width: 64px;
    fill: var(--secondary-color)
  }

  .about-nav-btn {
    margin-left: 0;
  }

  .about-nav-btn svg {
    display: block;
  }

  .skills-nav-btn svg {
    display: block;
  }

  .portfolio-nav-btn svg {
    display: block;
  }

  .contact-nav-btn svg {
    display: block;
  }

  .fa-bars {
    font-size: 40px;
  }

  .hero--details--container {
    flex-direction: column-reverse;
  }

  .hero--paragraph, .about--paragraph, .skills-paragraph, .portfolio-description-paragraph, .contact-paragraph, article p {
    width: 100%;
    text-align: justify;
    max-width: none;
  }

  /* Hero section mobile */

  .hero--buttons--container {
    justify-content: space-between;
  }

  /* About section mobile */

  .about-section {
    padding-top: 0;
  }

  .container--about {
    flex-direction: column-reverse;
    gap: 24px;
  }

  .about-img-container {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .about-details-container {
    width: 100%;
  }

  .about-img {
    object-fit: contain;
    width: 100%;
  }

  /* Skills section mobile */

  .container--skills {
    flex-direction: column;
    gap: 24px;
    padding: 0;
    padding-bottom: 24px;
  }

  .skills-details-container {
    width: 100%;
    align-items: baseline;
  }

  .skills-img-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

  .skills-img {
    object-fit: contain;
    width: 100%;
    height: auto;
  }

/* Portfolio section mobile */

  .portfolio-section {
    padding-bottom: 40px;
  }

  .portfolio-heading-description {
    flex-direction: column;
    margin-bottom: 24px;
  }

  .splide__list {
    min-width: auto;
    gap: 0px;
    justify-content: normal;
  }

  .splide__pagination {
    position: static;
  }

  article {
    width: 100%;
    min-width: auto;
  }


  /* Contact section mobile */

  address a {
    height: 48px;
    width: 48px;
  }

  .contact-description {
    flex-direction: column;
  }

  footer p {
    font-size: 16px;
    margin-top: 0;
  }

  footer {
    padding-bottom: 64px;
  }

  .container--contact h2 {
    margin-top: 24px;
  }
}
